.slider {
    width: 100%;
}

.swiper-slide {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: $black;
    border-radius: 0;
    margin: 0 15px;
}
.swiper-pagination-bullet-active {
    background-color: $white;
    height: 6px;
}

.swiper-pagination {
    margin-bottom: 95px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 15px);
}

.swiper::after {
    content: '';
    background: rgba(21,21,21,.3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}

.slide1 {
    background-image: url('./../img/top1.jpeg');
}

.slide2 {
    background-image: url('./../img/video.jpeg');
}

.slide3 {
    background-image: url('./../img/dog-cars.jpeg');
}

.slide4 {
    background-image: url('./../img/mountain-car.jpeg');
}