.top {
    padding: 152px 0px 95px;
    color: $white;
    text-align: center;
}

.top-title {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 38px;
}

.top-link {
    font-size: 36px;
    font-weight: 700;
    background-color: $black;
    padding: 23px 187px;
}