* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    input:focus, button:focus {
        outline: none; /* Убираем обводку */
    }  
    background: none;
    text-decoration: none;
}

button, img {
    cursor: pointer;
}

a {
    color: inherit;
}


*::after, *::before {
box-sizing: border-box;
}